.content_about {
	text-align: center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.text_about {
	margin-top: 60px;
	display: block;
	vertical-align: top;
	position: relative;
}

.name_about {
	margin-top: 10px;
	display: block;
	vertical-align: top;
	position: relative;
}

.version_about {
	display: block;
	vertical-align: top;
	position: relative;
	font-size: 10px;
}