.wrap_modal{
	.scroll-content {
		background-image: none;
	}
}

.content_title {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.data_text {
	font-style: italic;
	margin-top: -2px;
	font-family: 'Montserrat', sans-serif;
}

.full_text {
	font-family: 'Montserrat', sans-serif;
}

.content_full_text {
	text-align: justify;
}